*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color:hwb(21 12% 2%);
    position: sticky;
    top: 0;
    z-index: 1;
}

.header-container{
    max-width: 1100px;
    margin: 0 auto;
    height: 50px;
    display: flex;
    padding: 10px;
    color: #fff;

}

.container{
    max-width: 1100px;
    display: flex;
    margin: 0 auto;
}

.h-col-right{
    width: 30%;
    align-content: center;
}

.h-col-central{
    width: 40%;
    background-image: url(../img/boolean-logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
        
}

.h-col-left {
    width: 30%;
}

.hicon{
    padding-left:83%;
    padding-top: 5px;
}

main{
    padding-top: 50px;
}

.main-container{
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    height: 1200px;
}

/* .bg-red {
    background-color: red;
} */

/* .h900{
    height: 1200px;
} */

.colshopping{
    width: 32%;
    position: relative;
    /* height: 500px; */
    /* background-color: bisque; */
}

.sp{
    justify-content: center;
}

.card{
    width: 100%;
    position: relative;
}

main img{
    max-width: 100%;
}

.offerte{
    display: flex;
    position: absolute;
    bottom: 40px;
}

.offertee{
    display: flex;
    position: absolute;
    bottom: 90px;
}

.saldo{
    background-color: red;
    color: #fff;
    padding: 5px;
}

.charact{
    background-color: green;
    color: #fff;
    padding: 5px;
}

.footer-container{
    background-color: black;
    max-width: 100%;
    height: 80px;
    display: flex;
    margin: 40px auto 0 auto;
}

footer ul{
    list-style-type: none;
}

footer ul li{
    display: inline;
    font-size: small;
}

.content-f-left{
    color: #fff;
    padding-top: 20px;
    line-height: 20px;
    padding-left: 140px;

}

/* .object{
    position: relative;
} */

.marca{
    font-size: smaller;
}

.price{
    color: red;
    font-size:smaller ;
    padding-right: 5px;
}

.salde{
    font-size: smaller;
    text-decoration: line-through;
}

.front{
    display: block;
}

.back{
    display: none;
}

.card:hover .front{
    display: none;
}

.card:hover .back{
    display: block;
}

.f-left-col{
    width: 50%;
}

.f-right-col{
    width: 50%;
    color: #fff;
    padding-left: 420px;
    padding-top: 20px;
}

.heart{
    font-size: x-large;
    position: absolute;
    background-color: #fff;
    top: 10px;
    right: 0;
    padding: 5px;
}

.backh{
    font-size: x-large;
    position: absolute;
    background-color: #fff;
    color: red;
    top: 10px;
    right: 0;
    padding: 5px;
}


.backh{
    display: none;
}

.heart{
    display: block;
}

.card:hover .backh{
    display: block;
}

.card:hover .heart{
    display: none;
}
