*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color:hwb(21 12% 2%);
    position: sticky;
    top: 0;
    z-index: 1;
}

.header-container{
    max-width: 1100px;
    margin: 0 auto;
    height: 50px;
    display: flex;
    padding: 10px;
    color: #fff;

}

.container{
    max-width: 1100px;
    display: flex;
    margin: 0 auto;
}

.h-col-right{
    width: 30%;
    align-content: center;
}

.h-col-central{
    width: 40%;
    background-image: url(../img/boolean-logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
        
}

.h-col-left {
    width: 30%;
}

.hicon{
    padding-left:83%;
    padding-top: 5px;
}

main{
    padding-top: 50px;
}

.main-container{
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

/* .bg-red {
    background-color: red;
} */

/* .h900{
    height: 1200px;
} */

.colshopping{
    width: 32%;
    /* height: 500px; */
    /* background-color: bisque; */
}

.sp{
    justify-content: center;
}

.card{
    width: 100%;
    position: relative;
}

main img{
    max-width: 100%;
}

.offerte{
    display: flex;
    position: absolute;
    bottom: 40px;
}

.saldo{
    background-color: red;
    color: #fff;
    padding: 5px;
}

.charact{
    background-color: green;
    color: #fff;
    padding: 5px;
}